DATAUDVEKSLER_AMQP_URL=amqps://sb-duvproddistribution.servicebus.windows.net/t-distribution-415/...
DATAUDVEKSLER_USERNAME=service-account-id
DATAUDVEKSLER_PASSWORD=service-account-password
DATAUDVEKSLER_TENANT_ID=tenant-id

RUTEALARM_INGEST_URL=https://rutevarsling.dk/api/ingest-traffic-events
RUTEALARM_INGEST_SECRET=make-a-long-random-secret
RUTEALARM_SOURCE=Dataudveksleren
